{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Tandemite APP</h1>

        <a href="{{ path('form') }}">Go to form</a>
        <br />
        <a href="{{ path('list') }}">Go to list</a>
    </div>
{% endblock %}